// Containers

.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.fullWrapper {
    background-color: #fff;
}

.minWrapper {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}
