// Header

.header {
    width: 100%;
    background-color: $brand-red;
}

.logo {
    position: absolute;
    z-index: 3;
}

.nav {
    float: right;

    li {
        list-style: none;
        display: inline-block;
        margin-left: $scale;
    }

    a {
        text-decoration: none;
        font: 24px $font-titles;
        color: #fff;
        display: inline-block;
        padding: 10px;

        &:hover {
            background-color: #fff;
            color: $brand-red;
        }
    }
}
