// Variables

// Color
$brand-red: #e64146;
$brand-blue: #05739b;
$brand-yellow: #facd32;
$brand-cyan: #19a5dc;
$gray: #d7d3d9;

// Font
$font-titles: "Paytone One", sans-serif;
$font-text: "Raleway", sans-serif;

// Spacing
$scale: 24px;
