//    Reset

* {
    margin: 0px;
    padding: 0px;
}

//    General

body {
    background-color: #000;
    font: 21px $font-text;
}

h2 {
    font: 40px $font-titles;
    line-height: 1.25;
    margin-bottom: $scale;
}

h3 {
    font: 34px $font-titles;
    color: $brand-red;
    margin-bottom: $scale;
}

h4 {
    font: 20px $font-titles;
}

li {
    margin-bottom: $scale / 2;
}

p {
    line-height: 1.5;
}
